.section__locations h2{
    font-size: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__locations .section__inner>h2::after{
    content: url(../assets/underline.svg);
    transform: translateY(-0.5rem);
    opacity: 0.8;

}
.section__locations .section__inner>h2,
.section__locations .section__inner>p{
    text-align: center;
    margin-bottom: 0.5rem;
}
.section__locations .section__inner>p{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}
.section__locations .section__inner>p span{
    max-width: 600px;
}

.location__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr) );
    gap: 1rem;
}
.location__list .location{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.location__list .location button{
    width: fit-content;
}

.location__list div img{
    height: auto;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.location__header{
    display: flex;
    justify-content: space-between;
}
.location p span{
    color: var(--primary-pink);
    font-weight: 600;
}

.location .book_btn__group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location .book_btn__group button{
    font-size: 0.75rem;
}
.location .rating{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--orange);
}
.location .rating::before{
    content: url("../assets/star2.svg");
}