
.section__partners .partner__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    align-items: center;
}

@media screen and (max-width: 640px){
    .section__partners .partner__list{
        place-items: center;
    }
    
    
}

.section__partners .partner img{
    width: 100%;
    max-width: 180px;
    height: auto;
}