*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary-pink: #ef1c49;
    --pink-light: #fbc5d2;
    --pink-very-light: #FEE1E6;
    --burnt-orange: #F66F4C;
    --orange: #FFA100;
    --blue-header: #2a313d;
    --grey-text: #788193;
    --light-grey: #bcc6da;
    --very-light-grey: #ecf0f7;
    --bg-grey: #F9F9F9;
    --white: #fff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6,.title,.logo{
    color: var(--blue-header);
    font-family: var(--font-nunito-sans);
}
h2, h3, h4, h5, h6{
    font-weight: 800;
}
h1{
    font-size: 2rem;
}
h1 span{
    border-bottom: 4px dashed var(--pink);
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.55rem;
    color: var(--grey-text);
}

.bg__grey{
    background: var(--bg-grey);
}

/* ================== Buttons ==================== */

.btn{
    padding: 0.8rem 1.6rem;
    border-radius: 3rem;
    font-weight: 700; 
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    font-family: inherit;
    transition: all .3s;
}
/* .btn:hover{
    border: 2px solid var(--black);
} */
.btn-primary{
    background: var(--primary-pink);
    color: var(--white);
}

.btn-secondary{
    border: 2px solid var(--primary-pink);
    color: var(--primary-pink);
    background: var(--white);
}

.btn-group{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

@media screen and (max-width: 760px) {
    .btn-group{
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;
    }
    .btn {
        width: fit-content;
    }

}
@media screen and (max-width: 640px) {
    .btn {
        text-align: center;
        justify-content: center;
        width: fit-content;
    }
    .action-btns{
        flex-direction: column;
    }
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 2rem 1rem;
}
.nav{
    display: grid;
    grid-template-columns: auto 1fr;
}

@media screen and (max-width: 760px) {
    .nav{
        display: flex;
        justify-content: space-between;
    }
}
.nav__group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 0.45rem;
    
}

.nav img, .logo-wrapper img{
    max-width: 40px;
    height: auto;
}
nav .logo, .logo-wrapper .logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
nav .logo {
    margin-right: 2rem;
}

.menu{
    display: none;
}
.menu i{
    font-size: 24px;
}



.nav-list a{
    list-style: none;
    text-decoration: none;
    color: var(--blue-header);
    font-size: 1.05rem;
    transition: all .3s;
    padding: .3rem;
    font-weight: 700;
}
.nav-list a:hover{
    background: var(--black);
    color: var(--light-grey);
}

@media screen and (max-width: 760px) {
    .nav__group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;
        width: 0%;
        display: none;
        /* background: var(--white); */
        box-shadow: 2px 4px 10px 2px rgba(20, 20, 24, 0.2);
        /* border-radius: 1rem; */
        z-index: 5;
        min-height: 100vh;
        transition: all .3s;
    }
    .nav__group::after{
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Pinkish tint FF8C9D */
        box-shadow: 2px -120px 500px 20px rgba(0, 0, 0, 0.2) ;
        /* background: linear-gradient(to right, rgba(108, 89, 163, 0.7), rgba(255, 255, 255, 0.2)) ; */
        background: rgba(255, 255, 255, 0.8);
        z-index: -1;
        /* border: 1px solid rgba(255, 255, 255, 0.3); */
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .nav__group::after{ 
            filter: blur(1px);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
        }
    }

    nav .nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-top: 3rem;
    }
    .menu{
        display: block;
        width: 48px;
        height: 48px;
        background: transparent;
        border: none;
    }

    nav .nav-list.hide{
        display: none;
    }

    .nav-list li{
        width: 100%;
        text-align: center;
    }
    .nav-list a{
        width: 100%;
        justify-content: center;
        padding: 0;
        transition: all .3s;
    }
    .nav-list a:hover{
        background: var(--black);
        color: var(--light-grey);
        padding: 1rem;
    }


    .show{
        display: block;
        width: 80%;
        transition: all .3s;
    }

    .menu{
        z-index: 6;
    }
    
}

section{
    padding: 4rem 1rem;
    width: 100%;
}

section, footer{
    display: flex;
    justify-content: center;
    position: relative;
}

.section__inner, nav{
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
}

footer .section__inner{
    flex-direction: column;
    width: 100%;
}



footer .section__inner .footer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
}

footer .section__inner .footer-grid::before{
    content: "";
    height: 1px;
    background: var(--very-light-grey);
    width: 100%;
    grid-column: 1/-1;
    margin-bottom: 4rem;
}
footer .section__inner .footer-grid::after{
    content: "";
    height: 1px;
    background: var(--very-light-grey);
    width: 100%;
    grid-column: 1/-1;
    margin-top: 4rem;
    margin-bottom: 2rem;
}


footer h5{
    margin-bottom: 1rem;
}

.footer-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

@media screen and (max-width: 640px){
    footer h5{
        text-align: center;
    }
    .footer-links{
        align-items: center;
    }
}

.footer-links li a{
    text-decoration: none;
    color: var(--blue-header);
    font-weight: 500;
    font-size: 0.85rem;
}

footer .logo-wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
}


footer .logo{
        font-size: 1.6rem;
        color: var(--primary-pink);
        font-weight: 700;
}

@media screen and (max-width: 640px){
    footer .logo-wrapper{
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    footer .logo-wrapper p{
        text-align: center;
    }

    footer .logo{
        width: 100%;
        justify-content: center;
    }
}

footer .social-list{
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
        gap: 1.6rem;
        opacity: 0.8;
}

@media screen and (max-width: 640px){
    footer .social-list{
        justify-content: center;
    }
}

